<!DOCTYPE html>
<html>
  <head>
    <title>LETS Analyze</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application',
                            media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                            'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/analyze/overview">LETS Analyze</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              Transects Lessons
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/analyze/introductory">Introductory Lessons</a>
              <a class="dropdown-item" href="/analyze/intermediate">Intermediate Lessons</a>
              <a class="dropdown-item" href="/analyze/advanced">Advanced Lessons</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              Data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/transects">Transects</a>
              <a class="dropdown-item" href="/plots">Plots</a>
              <a class="dropdown-item" href="/species">Species</a>
              <a class="dropdown-item" href="/tree_meausrements">Tree Measurements</a>
            </div>
          </li>
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav> <!-- Static Nav bar -->

    <div class="container">

      <%= yield %>

    </div> <!-- /container -->


  </body>
</html>
